# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: tinygo/tinygo-dev
    working_directory: /usr/local/go/src/vendor/tinygo.org/x/drivers
    steps:
      - checkout
      - run: tinygo version
      - run:
          name: "Enforce Go Formatted Code"
          command: make fmt-check
      - run:
          name: "Run build and smoke tests"
          command: make smoke-test
